**/__pycache__/
**/models/
**/training_data/
**/tensorboard/

skipthought/eval/
skipthought/corpus/
skipthought/thesis_tb/

tasks/plots/
tasks/preprocess_data/
tasks/saved_models/

infersent/dataset/



