**/__pycache__/

skipthought/models/
skipthought/eval/
skipthought/tensorboard/
skipthought/corpus/
skipthought/training_data/
skipthought/thesis_tb/

tasks/plots/
tasks/preprocess_data/
tasks/saved_models/




